body {
  font-family: "GT Walsheim",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: url('https://www.omio.com/gcs-proxy/static_content_repo/web/content/rest/hero/front_page-dw.jpg') no-repeat;
  background-size: cover;*/
  background-color: #f1f2f6;
  letter-spacing: .15px;
  word-spacing: -0.4px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
}

a:hover {
  transition-duration: 0.5s;
  color: #fa6b6b;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
