.header {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: flex-start;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  width: 1176px;
}

.travel {
  color: #fff;
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  transition: font-size 0.5s ease-in-out;
}

.bookTrain {
  color: #fff;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  transition: font-size 0.5s ease-in-out;
}

.picture {
  position: relative;
  display: flex;
  align-items: center;
  background: center 27% / cover #132968;
  height: 256px;
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  .picture {
    height: 351px;
    background-position: center 39%;
  }
}

@media (max-width: 1024px) {
  .header {
    margin-top: -90px;
  }
  .bookTrain {
    font-size: 18px;
    line-height: 24px;
    font-weight: 550;
  }
  .travel {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }
}
