.footerBasic {
  position: fixed;
  bottom: 0;
  background-color: #132968;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 21px;
  padding: 5px;
  white-space: nowrap;
  color: whitesmoke
}

.copyright {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 10px;
}

.footerLink:link,
.footerLink:visited {
  font-size: 10px;
  color: #fa6b6b;
  text-decoration: underline;
}
