.basicCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -106px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  max-width: 1168px;
  transition: max-width 0.5s ease-in-out;
}

.searchCard {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  pointer-events: all;
  background: #fff;
  box-shadow: 0 4px 8px rgba(19, 41, 104, 0.1);
  border-radius: 8px;
  margin-bottom: 24px;
  padding-bottom: 16px;
  width: 100%;
}

@media (width <= 1024px) {
  .basicCard {
    padding: 0 32px;
    max-width: 768px;
    margin-top: -146px;
  }
}

@media (width <= 769px) {
  .searchCard {
    line-height: 1.4;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-bottom: 42px;
  }
  .basicCard {
    margin-top: -146px;
    margin-left: -15px;
    margin-right: -15px;
  }
}
