.basicCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -90px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  max-width: 1136px;
}

.searchCard {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 30px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;

  pointer-events: all;
  background: #fff;
  box-shadow: 0 4px 8px rgba(19, 41, 104, 0.1);
  border-radius: 8px;
  margin-bottom: 24px;
  padding-bottom: 16px;
}

@media (width <= 1024px) {
  .basicCard {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media (width <= 769px) {
  .searchCard {
    line-height: 1.4;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-bottom: 42px;
  }
}